/* General */
a
{
    text-decoration: none;
    color: black;
}
/* Fin General */
/* ARIA General */
/* Fin ARIA General */
/* Body */
/* Header */
/* Fin Header */
/* Main */
.tags-filtered
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10%;
    justify-content: center;
}
/* Fin Main */
/* Fin Body */