body
{
    margin: 0;
}

header
{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#link-content
{
    position: fixed;
    width: 116px;
    margin: 0px 46%;
}

.hide /* Cf scroll JS */
{
    opacity: 0;
    /* left:-100%; */
}

.show /* Cf scroll JS */
{
    opacity: 1;
    /* left:0; */
}

.nav-header
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}