/* General */
/* Fin General */
/* Aria General */
.screenreader-text
{
    overflow: hidden;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* Fin Aria General */
/* Body */
body
{
    margin: 0;
}

/* Header */
header
{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#link-content
{
    position: fixed;
    width: 116px;
    margin: 0px 46%;
}

.hide /* Cf scroll JS */
{
    opacity: 0;
    /* left:-100%; */
}

.show /* Cf scroll JS */
{
    opacity: 1;
    /* left:0; */
}

.logo-nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-header
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* Fin Header */

/* Main */
main
{
    display: grid;
    height: 100%;

    /* Pour placer h1 main à hauteur du header */
    margin-top: -95px;
}

#main-title /* Titre index */
{
    display: flex;
    justify-content: flex-end;

    /* Permet de faire descendre le reste du main */
    margin-bottom: 51px;
}

.h1-main
{
    padding-right: 60px;
}

#photographers /* Main div photographes */
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#photographers > div
{
    margin-left: 10px;
    margin-right: 10px;
}

.photographers-link
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographers-link:focus
{
    outline: 2px solid #901C1C;
}

.img-pictures
{
    max-width: 119.8px;
    height: auto;
    border-radius: 50%;
}

.photographers-details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

.tags-filtered
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10%;
    justify-content: center;
}
/* Fin Main */
/* Fin Body */