/* General */
/* Fin General */
/* Body */
body
{
    margin: 0;
}

/* Header */
header
{
    display: flex;
    flex-direction: column;
    width: 70%;
    float: left;
}

#link-content
{
    position: fixed;
    width: 116px;
    margin: 0px 46%;
}

.hide /* Cf scroll JS */
{
    opacity: 0;
    /* left:-100%; */
}

.show /* Cf scroll JS */
{
    opacity: 1;
    /* left:0; */
}

.logo-nav
{
    display: flex;
    flex-direction: row;
}

.nav-header
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
/* Fin Header */

/* Main */
#main-title /* Il faut trouver autre chose */
{
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
}
/* Fin Main */
/* Fin Body */